{% extends "layout.html" %}
{% block title %}Информация о фильмах{% endblock %}
{% block body %}
    <form action="" method="get">
            {% for item in tickets %}
                <table>
                <tr>
                    <th> Идентификатор билета </th>
                    <td> {{ item["ticket_id"] }}</td>
                </tr>
                <tr>
                    <th> Идентификатор сеанса </th>
                    <td> {{ item["seance_id"] }}</td>
                </tr>
                <tr>
                    <th> Номер места </th>
                    <td> {{ item["seat_number"] }}</td>
                </tr>
                </table>
            {% endfor %}
            <p></p>
            {% if prev_url %}
                <a href="{{ url_for('tickets.get_all', page=prev_page) }}">Предыдущие билеты</a>
            {% endif %}
            {% if next_url %}
                <a href="{{ url_for('tickets.get_all', page=next_page) }}" >Следующие билеты</a>
            {% endif %}
    </form>
{% endblock %}